# kinda hotfix, cant figure out how to include! wam_bindgen output 
# since it generates inner attributes at top level, which rust doesnt accept in an include! root
src/shaders.rs

# Mac stuff:
.DS_Store

# trunk output folder
dist

# Rust compile target directories:
target
target_ra
target_wasm

# https://github.com/lycheeverse/lychee
.lycheecache
