allowed-duplicate-crates = [
    # TODO: reevaluate all these  OS backends, since wgpu changed how native dependencies are pulled

    # OS Crates, I'm never gonna get these unified
    # Windows
    "windows_aarch64_gnullvm",
    "windows_aarch64_msvc",
    "windows_i686_gnu",
    "windows_i686_gnullvm",
    "windows_i686_msvc",
    "windows_x86_64_gnu",
    "windows_x86_64_gnullvm",
    "windows_x86_64_msvc",
    "windows-core",
    "windows-implement",
    "windows-interface",
    "windows-result",
    "windows-strings",
    "windows-sys",
    "windows-targets",
    "windows",
    # macos
    "core-foundation",
    "objc2-app-kit",
    "objc2-foundation",
    "objc2",
    # Linux
    "linux-raw-sys",
    # The following targets don't get build anyways
    # Android
    "ndk-sys",
    # Redox-OS
    "libredox",
    "redox_syscall",

    # These duplicates were, last time I checked, caused by build dependencies
    "bitflags",

    # IDK
    "regex-automata",
    "regex-syntax",
    "rustc-hash",
    "rustix",

    # Should be fixed if wgpu pushes an update.
    "hashbrown",

    # temporary
    "base64",
    "getrandom",
    "indexmap",
    "thiserror-impl",
    "thiserror",
    "tracy-client",
    "wasi",
    "zerocopy-derive",
    "zerocopy",

    # yeah, as expected, everyone depends on this, that graph is one big mess.
    # But honestly not that bad with 2 versions. and it SHOULD all be build (proc_macro) time.
    "syn",

    # why is that even in my dependency tree...
    "glow",
]