allowed-duplicate-crates = [
    # Windows
    "windows_aarch64_gnullvm",
    "windows_aarch64_msvc",
    "windows_i686_gnu",
    "windows_i686_gnullvm",
    "windows_i686_msvc",
    "windows_x86_64_gnu",
    "windows_x86_64_gnullvm",
    "windows_x86_64_msvc",
    "windows-core",
    "windows-implement",
    "windows-interface",
    "windows-link",
    "windows-result",
    "windows-strings",
    "windows-sys",
    "windows-targets",
    "windows",

    # Linux
    "calloop-wayland-source",
    "linux-raw-sys",
    "smithay-client-toolkit",

    # macOS
    "core-foundation",
    "core-graphics-types",
    "objc2-app-kit",
    "objc2-foundation",
    "objc2",

    # Redox OS
    "redox_syscall",

    # Generic
    "bitflags",
    "calloop",
    "foldhash",
    "glam",
    "hashbrown",
    "indexmap",
    "rustc-hash",
    "rustix",
    "thiserror-impl",
    "thiserror",
]
