
[sources]
unknown-registry = "deny"
unknown-git = "deny"

allow-git = [
    "https://github.com/9SMTM6/wasm_thread.git",
    "https://github.com/RReverser/wasm-bindgen-rayon.git",
]

[advisories]

[bans]
# Is a duplicate of rustc::multiple_crate_versions
# But this provides a nice graph output.
# However there doesnt seem to be a way to ignore duplicates.
# Thus make it present but not failing with warn
multiple-versions = "warn"

[licenses]
allow = [
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "MIT",
    # "MPL-2.0",
    "BSD-3-Clause",
    "BSD-2-Clause",
    "BSL-1.0",
    "ISC",
    "Zlib",
    "Unicode-3.0",
]

[[licenses.exceptions]]
allow = ["LicenseRef-UFL-1.0", "OFL-1.1", "Ubuntu-font-1.0"]
name = "epaint_default_fonts"

[[licenses.exceptions]]
allow = ["CC0-1.0"]
name = "hexf-parse"

[[advisories.ignore]]
id = "RUSTSEC-2024-0436"
reason = "This comes in via wgpu-hal and nalgebra, both of which are well maintained. Thus I'm fairly certain these will be addressed."
