[toolchain]
# If you change this, adjust the toolchain in the pipeline accordingly, otherwise the pipelines will end up very slow.
channel = "nightly-2025-11-19"
components = ["rust-src", "rustfmt", "clippy"]
targets = ["wasm32-unknown-unknown"]
