[build]
rustflags = ["--cfg", "tokio_unstable"]

# Translating complex cargo invocation into this config file, so that trunk will use the same setup
# https://github.com/chemicstry/wasm_thread/blob/main/build_wasm.sh

[target.wasm32-unknown-unknown]
rustflags = [
    "-C",
    "target-feature=+atomics,+bulk-memory,+mutable-globals",
    "-C",
    "link-arg=--shared-memory",
    "-C",
    "link-arg=--max-memory=1073741824",
    "-C",
    "link-arg=--import-memory",
    "-C",
    "link-arg=--export=__wasm_init_tls",
    "-C",
    "link-arg=--export=__tls_size",
    "-C",
    "link-arg=--export=__tls_align",
    "-C",
    "link-arg=--export=__tls_base",
    '--cfg', 
    'getrandom_backend="wasm_js"',
]

# Only kicks in if actually compiled with unstable compiler.
[unstable]
build-std = ["std,panic_abort"]
