/* 
background color for what is not covered by the egui canvas,
or where the egui canvas is translucent. 

With no set preference light will be used. */
@media (prefers-color-scheme: light) {
    :root {
        --background: #909090;
        --theme-color: white;
        --root-text-color: #000000;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #404040;
        --theme-color: black;
        --root-text-color: #f0f0f0;
    }
}
