html {
    /* Remove touch delay: */
    touch-action: manipulation;
}

body {
    background: var(--background);
    color: var(--root-text-color);
}

/* Allow canvas to fill entire web page: */
html,
body {
    /* was in the template, but breaks some warnings etc. */
    /* overflow: hidden; */
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
}

/* Position canvas in center-top.
This is rather arbitrarily chosen.
In particular, it seems like both Chromium and Firefox will still align
the canvas on the physical pixel grid, which is required to get
pixel-perfect (non-blurry) rendering in egui.
See https://github.com/emilk/egui/issues/4241 for more */
canvas {
    margin-right: auto;
    margin-left: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
